__pycache__/
*.py[cod]
*$py.class
.env
server/.env
*.env
*.env.local
.venv
env/
venv/
*.db-journal
.DS_Store

# Node / Frontend
node_modules/
client/node_modules/
server/node_modules/
dist/
client/dist/
.vite/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

